<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="default_cookiee" value="Q2dpcktEYkE5V1hvZjhJaU60BwhuDmNzR/kxs0I6UY3kwf5XoEqSk4NDdxqE5TyjyVqmcPRxexLj9R70JjZJL8UTfzUTylSXZJeXMFwJZxuaOwQVpg2TdhIa92FOX7v6NTjkX4z5EI+G8LPzPQdkhKK5eBQDHv55/td/kGn9FMyusBxcLShoCMlYWO+SSEfw"/>
		<add key="default_link_produk" value="https://shopee.co.id/Pick-Gitar-Alice-Murah-Pemetik-Gitar-0.58-0.71-0.81-0.96-1.20-1.50-i.116261495.7839997617"/>
		<add key="default_pin_number" value="041998"/>
		<add key="default_varian" value="1,20mm"/>
		<add key="default_headless" value="false"/>
	</appSettings>
</configuration>